body {
    background-color: beige;
  color: darkblue
  }
  card{
    width: 30ww;
      margin: 0 auto;
      border:4px solid darkblue;
    background-color: lightblue;
  }
  profile -picture{
    width: 100%
  }
  h2{
    margin-top: 0;
  }
  h1{
    text-align: center;
  
  }